<%= form_for(@home) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <label>Name:</label> <%= f.text_field :name, placeholder: "name home..." %>
    <label>Address:</label> <%= f.text_field :address, placeholder: "address home..." %>
    <label>Status:</label><%= f.select :status, Home.statuses.to_a, :prompt => "status" %>
    <label>Number Floors:</label> <%= f.text_field :number_floors, placeholder: "number floors..." %>
    <label>Full Price:</label> <%= f.text_field :full_price, placeholder: "full price..." %>
    <label>Price Unit</label><%= f.select :price_unit, Home.price_units.to_a, :prompt => "price_unit" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.submit btn, class: "btn btn-primary" %>
<% end %>
<script type="text/javascript">
  $('#home_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
