<%= form_for([@home, @order || @home.orders.build]) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <label>Name:</label>
    <%= f.text_field :name, placeholder: "guest's name..." %>
    <label>Address:</label>
    <%= f.text_field :address, placeholder: "guest's address..." %>
    <label>Phone number:</label>
    <%= f.number_field :phone_number, placeholder: "guest's phone number..." %>
    <label>Rental Period:</label>
    <%= f.select :rental_period, options_for_select(Order.allowed_rental_duration), {:class => 'form-control', :prompt => 'rental_period'} %>
    <label>CheckIn Time:</label></br>
  <span class="datetime"> <%= f.datetime_select :checkin_time, :order => [:year, :month, :day, :hour, :minute], :start_year => 2020, :end_year => 2050 %></span>
</div>
<%= f.submit btn, class: "btn btn-primary" %>
<% end %>
