<li id="order-<%= order.id %>">
  <% @user = User.find_by id: order.user_id %>
  <% @home = Home.find_by id: order.home_id %>
  <span class="name_guest"> <label>Name:</label>
    <%= @user.name %></span></br>
<span class="address"><label>Address:</label>
  <%= @home.address %></span></br>
<span class="phone_number"><label>Phone number:</label>
  <%= @user.phone_number %></span></br>
<span class="checkin_time"><label>Checkin Time:</label>
  <%= order.checkin_time %></span></br>
<span class="rental_period"><label>Rental Period:</label>
  <%= order.rental_period %> month</span></br>
<span class="order_status"> <label>Order Status:</label>
  <%= order.order_status %></span></br>
<span class="timestamp"><label>Posted</label>
  <%= time_ago_in_words(order.created_at) %> ago.
</span>
</li>
<span class="delete">
  <%= link_to 'Cancel',[order.home,order], method: :delete, data: {confirm: "Are you sure"} , class: "btn btn-primary"%>
  <%= link_to 'Requesting Extension',order_requesting_extension_path(order), method: :get, class: "btn btn-primary" %>
  <%if admin? %>
    <%= link_to 'Deny',order_deny_url(order), method: :patch , class: "btn btn-primary"%>
    <%= link_to 'Approved',order_approved_url(order), method: :patch, class: "btn btn-primary" %></br></p>
<%= link_to 'Deny Extension',order_deny_extension_path(order), method: :patch , class: "btn btn-primary"%>
<%= link_to 'Approved Extension',order_approved_extension_path(order), method: :patch , class: "btn btn-primary"%>
<%end%>
</span>
