<%= form_for([@args, @order || @args.orders.build]) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%@order_object = @args%>
    <%= render partial: "shared/#{@order_object.type_name}_info", locals: {object: @order_object}%></p>
  <label>Rental Period (Month):</label>
  <%= f.select :rental_period, options_for_select(Order.allowed_rental_duration), {:class => 'form-control', :prompt => 'rental period'} %>
  <label>CheckIn Time:</label></br>
<div class="form-group">
  <div class='input-group date' id='datetimepicker1'>
    <%= f.text_field :checkin_time, placeholder: "Input your checkin time...", class: "form-control"  %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>
<%= f.submit "Edit requesting ", class: "btn btn-primary" %>
<% end %>
