<li id="home-<%= home.id %>">
  <span class="name"><label>name:</label> <%= home.name %></span></br>
  <span class="status"><label>status:</label> <%= home.status %></span></br>
  <span class="number_floors"><label>number_floors:</label> <%= home.number_floors %></span></br>
  <span class="price"><label>price:</label> <%= home.price %></span></br>
  <%= image_tag home.picture.url if home.picture? %>
  
  <span class="timestamp">
    <label>Posted</label> <%= time_ago_in_words(home.created_at) %> ago.
    <span class="edit"><%= link_to "edit", edit_home_url(home.id) %>
      <%= link_to "delete", home, method: :delete,
                                  data: { confirm: "You sure?" } %>
  </span>
  
</li>