<li id="home-<%= home.id %>">
  <span class="user">user: <%= link_to home.user.name, home.user %></span></br>
  <span class="name">name: <%= home.name %></span></br>
  <span class="status">status: <%= home.status %></span></br>
  <span class="number_floors">number_floors: <%= home.number_floors %></span></br>
  <span class="price">price: <%= home.price %></span></br>
  <%= image_tag home.picture.url if home.picture? %>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(home.created_at) %> ago.
    <span class="edit"><%= link_to 'edit', edit_home_url(home.id) %>
      <%= link_to "delete", home, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
  
</li>