<li id="home-<%= home.id %>">
  <span class="name"><label>Name:</label> <%= home.name %></span></br>
<span class="status"><label>Status:</label> <%= home.status %></span></br>
<span class="number_floors"><label>Number Floors:</label> <%= home.number_floors %></span></br>
<span class="full_price"><label>Full Price:</label><%= format_currency(home.full_price, home.price_unit) %></span><br>
<span class="posted"><%= image_tag home.picture.url if home.picture? %></span></br>
<span class="timestamp">
  <label>Posted</label> <%= time_ago_in_words(home.created_at) %> ago.
  <% if logged_in? %>
    <span class="order"><%= link_to "Order", new_home_order_url(home) %>
      <% if admin? %>
        <span class="edit"><%= link_to "edit", edit_home_url(home.id) %>
          <%= link_to "delete", home, method: :delete,
                                    data: { confirm: "You sure?" } %>
        </span>
      <% end %>
    <% end %>
  </span>
</li>
