<%= form_for(@home) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      name: <%= f.text_area :name, placeholder: "name..." %>
      status: <%= f.text_area :status, placeholder: "status..." %>
      number_floors: <%= f.text_area :number_floors, placeholder: "number_floors..." %>
      price: <%= f.text_area :price, placeholder: "price..." %>
    </div>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= f.submit "Save", class: "btn btn-primary" %>
    
  <% end %>


  