<li id="room-<%= room.id %>">
  <span class="number room"><label>Number Room:</label> <%= room.number_room %></span></br>
<span class="area"><label>Area:</label> <%=room.area %></span></br>
<span class="Length"><label>Length:</label> <%= room.length %></span></br>
<span class="width"><label>Width:</label> <%= room.width %></span></br>
<span class="height"><label>Height:</label> <%= room.height %></span></br>
<span class="status"><label>Status:</label> <%= room.status %></span></br>
<span class="price"><label>Price:</label><%= format_currency(room.price, room.price_unit) %></span><br>
<span class="timestamp">
  <% if logged_in? %>
    <span class="order"><%= link_to "Order", "#" , class: "btn btn-primary"%>
      <% if admin? %>
        <span class="edit"><%= link_to "edit",  edit_home_room_path([room.home,room])  , class: "btn btn-primary"%>
          <%= link_to "delete", [room.home,room] , method: :delete,
                                    data: { confirm: "You sure?" } , class: "btn btn-primary"%>
        </span>
      <% end %>
    <% end %>
  </span>
</li>
